/* terracotta: #CE8767 */
/* copper variant 1: #9E5726 */
/* copper variant 2: #e29467; */
/* gray: #dee3e9 */
/* green: #1b6e68 */
/* lighter-green: #529994 */

body {
    margin: 0;
    color: #333;
    background: #fff;
    font-size: 18px;
    font-family: "Catamaran", sans-serif;
}

a, a:active, a:visited {
    color: #444;
    text-decoration: none;
    border-bottom: 1px #888 dashed;
    display: inline-block;
    line-height: .9em;
}

a:hover {
    border-bottom: 1px #888 solid;
}

a.img-link, a.img-link:active, a.img-link:visited, a.img-link:hover {
    text-decoration: none;
    border-bottom: 0px;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0em;
    font-weight: 300;
    clear: both;
}

h1 {
    font-family: "Vidaloka", serif;
    font-size: 2em;
    font-weight: 700;
}

.text-small {
    font-size: 50% !important;
}

h2 {
    font-size: 1.6em;
    margin-bottom: .2em;
    font-weight: 700;
}

h3 {
    font-family: "Vidaloka", serif;
    font-weight: 700;
    font-size: 1.5em;
}

h4 {
    font-family: "Catamaran", sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 1em;
}

h5 {
    font-weight: 700;
    font-size: 1em;
    margin-top: 1em;
}

.small-text {
    display: block;
    font-size: .8em;
}

.hero-container {
    display: flex;
    text-align: center;
    background: url('images/hero-bg.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 200px;
    max-height: 415px;
    overflow: hidden;
}

.schedule {
    color: #fff;
    text-shadow: 1px 2px 2px #333;
    background-color: #000;
    background: url('images/USC.jpg') no-repeat;
    background-size: cover;
}

.schedule a {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

.schedule a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.icon-wrapper {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

.icon-wrapper svg {
    display: block;
}

.fill-white {
    fill: #fff;
}

.banner {
    align-self: flex-start;
    margin: 2em 0 2em 4em;
    padding: 2em;
    background: rgba(255, 255, 255, .6);
    color: #000;
}

.banner h2 {
    font-size: 2.25em;
    margin-top: 0em;
}

.banner h4 {
    font-size: 1.15em;
    margin-top: 0;
}

li {
    margin-bottom: .4em;
}

.nav {
    text-align: center;
    margin: 0 auto;
    padding: .5em;
    background: #fff;
    opacity: .96;
    border-bottom: 2px solid #ce8767;
}

.nav-stuck {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-item {
    display: inline-block;
    font-size: 1.2em;
    padding: 0em 1em 0em 1em;
    margin-bottom: 0;
}

.nav-item a {
    border-bottom: none;
    cursor: pointer;
}

.nav-item a:hover {
    color: currentColor;
    opacity: .7;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
}

.content-right,
.content-left {
    box-sizing: border-box;
    width: 46%;
}

iframe {
    width: 100%;
}

img {
    width: 100%;
}


hr {
    border: 0;
    margin: 2em auto;
    height: 1px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(27, 110, 104, 0), rgba(27, 110, 104, 0.45), rgba(27, 110, 104, 0));
}

.footer {
    color: #444;
    min-height: 1em;
    padding: 1em 1em 1.5em 1em;
    clear: both;
    font-size: 1em;
}

.right-footer {
    float: right;
    text-align: right;
}

section {
    box-sizing: border-box;
    width: 100%;
    clear: both;
    float: left;
    padding: 4em 8em;
}

section h2 {
    margin-bottom: 1em;
}

section p {
    margin-top: 0;
    line-height: 1.3em;
    max-width: 800px;
}

strong {
    font-weight: 700;
}

blockquote {
  display: inline-block;
  clear: both;
  background: rgba(5, 5, 5, .80);
  border-left: 10px solid #333;
  margin: 1.5em .5em 1.5em 0;
  padding: 0.5em 3em 0.5em 0.5em;
}

blockquote:before {
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

pre {
    font-size: .9em;
}

.round-pic {
    width: 300px;
    margin: 2em 0 2em 6em;
    float: right;
    border-radius: 100%;
}

a.btn {
    display: inline-block;
    margin: 1em 0 2em 0;
    border-radius: 3px;
    color: #9E5726;
    border: 2px solid #1b6e68;
    border-image: url('images/copper.jpg') 2 2 stretch;
    background: none;
    font-weight: 700;
    line-height: 1.4;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    background: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -webkit-transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
    -moz-transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
    -o-transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
    -ms-transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
    transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
}

a.btn:hover,
a.btn:focus {
    background-color: #1b6e68;
    background: url('images/copper.jpg');
    background-size: cover;
    color: #fff;
}

a.btn i {
    color: #9E5726;
}

a.btn:hover i,
a.btn:focus i {
    color: #fff;
}


/* utility classes */
.vidaloka {
    font-family: 'Vidaloka', serif;
}

.bg-copper {
    background: url('images/copper.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 2px 2px #333;
}

.bg-copper a, .bg-copper a:visited, .bg-copper a:active {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

.bg-copper a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.bg-fern {
    background: url('images/fern.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.display-none {
    display: none !important;
}

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@media (min-width: 1250px) {
    .hero-container {
        background-image: url('images/hero-bg-wide.jpg')
    }
}

@media (min-width: 1000px) {
    .content-left {
    }

    .content-right {
    }

    .show-s {
        display: none;
    }

    .show-l {
        display: block;
    }

}

@media (max-width: 1000px) {
    .banner {
        margin: 1em;
    }

    .hide-s {
        display: none;
    }

    .show-s {
        display: block;
    }

    section {
        padding: 2em;
    }

    .schedule {
        background-image: url('images/USC-mobile.jpg');
    }
}

@media (max-width: 600px) {
    .hero-container {
        background-image: url('images/hero-bg-mobile.jpg');
        background-position: bottom;
    }

    .hide-xs {
        display: none;
    }

    h2, h3 {
        font-size: 1.2em;
    }

    .banner h4 {
        font-size: .9em;
        font-weight: 400;
    }

    .banner h1, .banner h2 {
        font-size: 1.2em;
    }

    .round-pic {
        margin: 2em auto;
        padding: 0;
        width: 90%;
        float: none;
        display: block;
    }

    .right-footer {
        clear: both;
    }

    .nav-item {
        font-size: 1em;
        padding: 0em 0.6em 0em 0em;
    }
}