body {
    color: #444;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 100;
}

a, a:active, a:visited {
    color: #444;
    text-decoration: none;
    border-bottom: 1px #444 dashed;
}

a:hover {
    border-bottom: 1px #444 solid;
}

.button-link {
    border: 1px #444 solid;
    box-shadow: 5px 5px 10px #ccc;
    margin: 1em 1em 0em 0em;
    padding: 0.25em 0.5em;
    border-radius: 10px;
    display: inline-block;
}

.button-link:hover {
    border: 1px #444 solid;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0em;
    font-family: "adelle", serif;
    font-weight: 300;
    clear: both;
}

h1 {
    margin-top: 2em;
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
}

h3 {
    font-family: "source-sans-pro", sans-serif;
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

h4 {
    font-family: "source-sans-pro", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.small-text {
    display: block;
    font-size: 1em;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 25em;
    overflow: hidden;
}

.hero-2 {
    height: 40em;
    background: url('images/USC.jpg') no-repeat;
    background-size: cover;
}

.hero-2 h3 {
    color: #fff;
    margin: 1em auto;
    text-align: center;
}

.hero-2 a {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

.hero-2 a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}


video {
    width: 100%;
    height: 100%;
    background: url('images/IMG_1205.jpg') no-repeat;
    background-size: cover;
    z-index: -1;
}

.pause-button {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    background: none;
    opacity: 0.9;
    border: 0;
    font-size: 2em;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

.pause-button:focus {
    outline: none;
}

.fa {
    color: #444;
}

.banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    opacity: .75;
    text-align: center;
    height: 100%;
}

.banner h2 {
    font-size: 2.5em;
    margin-top: 0em;
}

.banner h3 {
    font-size: 2em;
}

.nav {
    text-align: center;
    margin: 0 auto 3em auto;
    padding: 1em;
    border-top: 1px solid #aaa;
    box-shadow: 0px 5px 25px #aaa;
    background: #fff;
}

.nav-stuck {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-item {
    display: inline-block;
    font-family: "source-sans-pro", sans-serif;
    font-size: 1.5em;
    padding: 0em 1em 0em 1em;
}

.nav-item a {
    border-bottom: 1px transparent;
    cursor: pointer;
}

.nav-item a:hover {
    border-bottom: 1px #aaa solid;
}

.content {
    width: 75%;
    font-size: 1.5em;
    margin: 2em auto 15em auto;
    min-height: 15em;
}

.column-wrapper {
    clear: both;
}

iframe {
    width: 100%;
}

img {
    width: 100%;
}

.footer {
    color: #444;
    padding: 1em;
    box-shadow: 0px -15px 15px #ccc;
    clear: both;
    margin-bottom: 1em;
    font-family: "source-sans-pro", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.left-footer {
    float: left;
    text-align: left;
}

.right-footer {
    float: right;
    text-align: right;
}

@media (min-width: 1000px) {
    .content-left {
        float: left;
        padding-right: 5%;
        width: 45%;
    }

    .content-right {
        float: right;
        width: 50%;
    }
}

@media (max-width: 600px) {

    .hide-xs {
        display: none;
    }

    h1 {
        margin-top: 0.8em;
    }

    h3 {
        font-size: 1.5em;
    }

    .banner h1, .banner h2 {
        font-size: 2em;
    }

    .pause-button {
        font-size: 1em;
    }

    .content {
        width: 90%;
    }
}