/* terracotta: #CE8767 */
/* copper variant 1: #9E5726 */
/* gray: #dee3e9 */
/* green: #1b6e68 */
/* lighter-green: #529994 */

body {
    margin: 0;
    color: #222;
    background: #fff;
    font-size: 17px;
    font-family: "Karla", sans-serif;
}

a, a:active, a:visited {
    color: #222;
    text-decoration: none;
    border-bottom: 1px dotted #777;
}

a:hover {
    border-bottom: 1px solid #999;
}

a.img-link, a.img-link:active, a.img-link:visited, a.img-link:hover {
    text-decoration: none;
    border-bottom: 0px;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0em;
    font-weight: 300;
    clear: both;
}

h1 {
    font-family: "Vidaloka", serif;
    font-size: 2em;
}

.text-small {
    font-size: 60% !important;
}

.text-larger {
    font-size: 1.2em;
}

h2 {
    font-family: "Vidaloka", serif;
    font-size: 1.5em;
}

h3 {
    font-family: "Vidaloka", serif;
    font-size: 1.5em;
}

h4 {
    font-family: "Karla", sans-serif;
    font-size: 1.3em;
}

h5,
.destination-label {
    display: inline-block;
    font-weight: 700;
    font-size: 1em;
    margin-top: 1em;
}

.small-text {
    display: block;
    font-size: .8em;
}

.hero-container {
    display: flex;
    text-align: center;
    background: url('images/hero-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 0 -70px;
    width: 100%;
    min-height: 200px;
    max-height: 415px;
    overflow: hidden;
}

.schedule {
    color: #fff;
    text-shadow: 1px 2px 2px #333;
    background-color: #000;
    background: url('images/USC.jpg') no-repeat;
    background-size: cover;
}

.schedule a {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.schedule a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.icon-wrapper {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

.icon-wrapper svg {
    display: block;
}

.banner {
    align-self: flex-start;
    margin: 2em 0 2em 8em;
    padding: 2em;
    background: rgba(255, 255, 255, .7);
    color: #000;
}

li {
    margin-bottom: .75em;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: .75em;
}

.nav-stuck {
    position: fixed;
    background: #fff;
    opacity: .95;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-item {
    flex: 0 1 auto;
    display: inline-block;
    font-size: 1.2em;
    margin: 0em 1em 0em 1em;
}

.nav-item a {
    font-family: 'Vidaloka', serif;
    border-bottom: none;
    cursor: pointer;
    border-bottom: 1px dotted #ddd;
}

.nav-item a:hover {
    opacity: .7;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
}

.content-right,
.content-left {
    box-sizing: border-box;
    width: 46%;
}

iframe {
    width: 100%;
}

img {
    width: 100%;
}


hr {
    border: 0;
    margin: 2em auto;
    height: 1px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(27, 110, 104, 0), rgba(27, 110, 104, 0.45), rgba(27, 110, 104, 0));
}

.footer {
    color: #444;
    min-height: 1em;
    padding: 1em 1em 1.5em 1em;
    clear: both;
    font-size: 1em;
}

.right-footer {
    float: right;
    text-align: right;
}

section {
    box-sizing: border-box;
    width: 100%;
    clear: both;
    float: left;
    padding: 4em 8em;
}

section h2 {
    margin-bottom: 1em;
}

section p {
    margin-top: 0;
    line-height: 1.2em;
    max-width: 800px;
}

strong {
    font-weight: 700;
}

.circle {
    border-radius: 100%;
}

pre {
    display: block;
    padding: .5em;
    color: #222;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: inset 0 2px 2px #999;
    text-shadow: none;
    font-size: .9em;
}   

.round-pic {
    width: 300px;
    margin: 2em 0 2em 6em;
    float: right;
}

a.btn {
    display: inline-block;
    margin: 1em 0 2em 0;
    border-radius: 3px;
    color: #9E5726;
    border: 2px solid #1b6e68;
    border-image: url('images/copper.jpg') 2 2 stretch;
    background: none;
    font-weight: 700;
    line-height: 1.4;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    background: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -webkit-transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
    -moz-transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
    -o-transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
    -ms-transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
    transition: background 0.1s ease-out,border-color 0.1s ease-out,color 0.05s ease-out;
}

a.btn:hover,
a.btn:focus {
    background-color: #1b6e68;
    background: url('images/copper.jpg');
    background-size: cover;
    color: #fff;
}

a.btn i {
    color: #9E5726;
}

a.btn:hover i,
a.btn:focus i {
    color: #fff;
}


/* utility classes */

.bg-copper {
    background: url('images/copper.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 2px 2px #333;
}

.bg-copper a, .bg-copper a:visited, .bg-copper a:active {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

.bg-copper a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.bg-fern {
    background: url('images/fern.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.margin-top-1 {
    margin-top: .5em;
}

.margin-bottom-1 {
    margin-bottom: .5em;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block;
}

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@media (min-width: 1250px) {
    .hero-container {
        background-image: url('images/hero-bg-wide.jpg')
    }
}

@media (min-width: 1000px) {

    .show-s {
        display: none;
    }

    .show-l {
        display: block;
    }

}

@media (max-width: 1000px) {
    .banner {
        padding: 1em;
        margin: 1em auto;
    }

    .hide-s {
        display: none;
    }

    .show-s {
        display: block;
    }

    section {
        padding: 2em;
    }

    .schedule {
        background-image: url('images/USC-mobile.jpg');
    }
}

@media (max-width: 600px) {
    h1 {
        text-align: center;
    }

    .column-wrapper {
        flex-direction: column;
    }

    .content-right,
    .content-left {
        width: 100%;
    }

    .hero-container {
        background-image: url('images/hero-bg-mobile.jpg');
        background-position: bottom;
    }

    .banner {
        background: rgba(255, 255, 255, .65);
        margin: 0 auto !important;
        padding: 2em;
    }

    .hide-xs {
        display: none;
    }

    .round-pic {
        margin: 2em auto;
        padding: 0;
        width: 90%;
        float: none;
        display: block;
    }

    .right-footer {
        clear: both;
    }

    .nav {
        opacity: 1;
        border-bottom: 1px solid #222;
    }

    .nav-item {
        margin: 0 .25em;
        font-size: 1.1em;
    }
}


/*!
 * GitHub Light v0.3.0
 * Copyright (c) 2012 - 2016 GitHub, Inc.
 * Licensed under MIT (https://github.com/primer/github-syntax-theme-generator/blob/master/LICENSE)
 */
.pl-c {
    color: #969896
}

.pl-c1,.pl-s .pl-v {
    color: #0086b3
}

.pl-e,.pl-en {
    color: #795da3
}

.pl-smi,.pl-s .pl-s1 {
    color: #333
}

.pl-ent {
    color: #63a35c
}

.pl-k {
    color: #a71d5d
}

.pl-s,.pl-pds,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sre,.pl-sr .pl-sra {
    color: #183691
}

.pl-v,.pl-smw {
    color: #ed6a43
}

.blob-code {
    position: relative;
    padding-right: 2em;
    padding-left: 2em;
    line-height: 1.5em;
    vertical-align: top;
}